<a href="https://colab.research.google.com/github/alvas-education-foundation/Hemalatha-Sanil/blob/master/Day_2_Session_1_Example_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program to find the largest number in a list.

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:2
Enter element:1
Enter element:2
Largest element is: 2

#Try this More pythonic  2 lines program equivalent to above codings as shown below !

In [3]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no2
1
2
The greatest no is 2

#Python Program to put the even and odd elements in a list into two different lists.

In [4]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:4
Enter element:1
Enter element:2
Enter element:3
Enter element:4
The even list [2, 4]
The odd list [1, 3]

#Instead of  forementioned 14 lines program, the equivalent 4 lines !

In [6]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('even list is',[ i for i in l if i%2])
print('odd list is',[i for i in l if not i%2])

Enter n4
1
2
3
4
even list is [1, 3]
odd list is [2, 4]

#Python Program to merge two lists and sort it.

In [7]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:4
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter number of elements:2
Enter element:7
Enter element:8
Sorted list is: [1, 2, 3, 4, 7, 8]

#Instead of  forementioned 13 lines program, the equivalent 5 lines !

In [9]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements2
1
2
Enter how many elements 2
3
4
Sorted list is: [1, 2, 3, 4]

#Python Program to sort the list according to the second element in the sublist.

In [10]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Instead of  forementioned 8 lines program, the equivalent 3 lines !

In [11]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Python Program to find the second largest number in a list

In [12]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:6
Enter element:7
Enter element:8
Enter element:9
Second largest number is: 8

#Instead of  forementioned 12 lines program, the equivalent 4 lines !

In [13]:
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements3
7
8
9
Second largest element is : 8

#Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [14]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:10
Enter the upper range:50
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500)]

#The aforementioned program is already pythonic. 
#We can still make it more pythonic as follows

In [15]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:10
Enter the upper range:50
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500)]

# Of course, We can write in the most pythonic way with one line ! as follows

In [16]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:10
Enter the upper range:50
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500)]


#Python Program to generate random numbers from 1 to 20 and append them to the list.

In [17]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:4
Randomised list is:  [10, 14, 20, 7]

#Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [18]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

#Python program that assigns variables

In [19]:

# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

#Python program that searches tuples

In [20]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found